127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ satellite_ip }} {{ satellite_name }}.{{ domain }} {{ satellite_name }}

{% for vm in vms %}
{{ vm.ip }}   {{ vm.name }}.{{ domain }} {{ vm.name }}
{% endfor %}
